/* CSS START */
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.navbar{
    background-color: #000;
    color: #fff;
    height: 60px;
}
.sidebar{
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 50px;
}
/* ! CSS END */